.mainTitle {
  margin: 5px;
  color: #930C0C;
}

md-toolbar h1 {
  margin: auto;
  font-weight: 400;
}

#description, #aboutMsg {
  background-color: #E46F0D;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.md-button {
  margin: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E46F0D;
  padding: 0;
  margin-bottom: 5px;
}


@media screen
  and (min-device-width: 1000px) {

    ul, iframe {
      height: 500px;
      width: 666px;
    }

    ul img, .image {
      height: 500px;
      width: auto;
    }

    .ground, body {
      background-color: #F8F8F8;
    }

}

@media screen
  and (min-device-width: 320px)
  and (max-device-width: 600px) {

    ul, iframe {
      height: 240px;
      width: 330px;
    }

    ul img, .image {
      height: 250px;
      width: auto;
    }

    .ground, body {
      background-color: #F8F8F8;
    }
}

@media screen
  and (min-device-width: 610px)
  and (max-device-width: 950px) {

    ul, iframe {
      height: 400px;
      width: 493px;
    }

    ul img, .image {
      height: 370px;
      width: auto;
    }

    .ground, body {
      background-color: #F8F8F8;
    }
}
